<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="description" content="A GUI for building Bootstrap themes.">
    <%- include(views + '/shared/head.html.ejs') %>
  </head>
  <body data-spy="scroll" data-target="#quick-nav">
    <main>

      <div class="row my-5">
        <div class="col-10">
          <div id="components" class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">Theme Preview<h2>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <%- include(views + '/components/alerts.html.ejs') %>
                <%- include(views + '/components/badge.html.ejs') %>
                <%- include(views + '/components/breadcrumb.html.ejs') %>
                <%- include(views + '/components/buttons.html.ejs') %>
                <%- include(views + '/components/button_group.html.ejs') %>
                <%- include(views + '/components/card.html.ejs') %>
                <%- include(views + '/components/carousel.html.ejs') %>
                <%- include(views + '/components/collapse.html.ejs') %>
                <%- include(views + '/components/dropdowns.html.ejs') %>
                <%- include(views + '/components/forms.html.ejs') %>
                <%- include(views + '/components/input_group.html.ejs') %>
                <%- include(views + '/components/jumbotron.html.ejs') %>
                <%- include(views + '/components/list_group.html.ejs') %>
                <%- include(views + '/components/modal.html.ejs') %>
                <%- include(views + '/components/navs.html.ejs') %>
                <%- include(views + '/components/navbar.html.ejs') %>
                <%- include(views + '/components/pagination.html.ejs') %>
                <%- include(views + '/components/popovers.html.ejs') %>
                <%- include(views + '/components/progress.html.ejs') %>
                <%- include(views + '/components/tables.html.ejs') %>
                <%- include(views + '/components/typography.html.ejs') %>
              </div>
            </div>
          </div>

          <div id="editor" class="container" style="display:none;">
            <div class="row">
              <div class="col-12">
                <h2 class="text-center">Theme Editor<h2>
              </div>
            </div>

            <div class="row my-5">
              <div class="col-12">
                <textarea id="editor-textarea" class="form-control" rows="40">
                </textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="col-2 pull-right" style="position:fixed;right:0;">
          <div class="row mb-3">
            <div class="col-12">
              <a href="#" id="edit-link">Edit</a>
              <a href="#" id="back-link" style="display:none;">Back</a>
              <hr/>
              <a id="update-btn" href="#" role="button"
                 class="btn btn-primary"
                 style="display:none;">Update</a>
              <a id="download-btn" href="#" role="button"
                 class="btn btn-primary">Download</a>
            </div>
          </div>

          <ul id="quick-nav" class="list-group">
            <a href="#alerts" class="p-1 list-group-item list-group-item-action">
              Alerts
            </a>
            <a href="#badge" class="p-1 list-group-item list-group-item-action">
              Badge
            </a>
            <a href="#breadcrumb" class="p-1 list-group-item list-group-item-action">
              Breadcrumb
            </a>
            <a href="#buttons" class="p-1 list-group-item list-group-item-action">
              Buttons
            </a>
            <a href="#button-group" class="p-1 list-group-item list-group-item-action">
              Button Group
            </a>
            <a href="#card" class="p-1 list-group-item list-group-item-action">
              Card
            </a>
            <a href="#carousel" class="p-1 list-group-item list-group-item-action">
              Carousel
            </a>
            <a href="#collapse" class="p-1 list-group-item list-group-item-action">
              Collapse
            </a>
            <a href="#dropdowns" class="p-1 list-group-item list-group-item-action">
              Dropdowns
            </a>
            <a href="#forms" class="p-1 list-group-item list-group-item-action">
              Forms
            </a>
            <a href="#input-group" class="p-1 list-group-item list-group-item-action">
              Input Group
            </a>
            <a href="#jumbotron" class="p-1 list-group-item list-group-item-action">
              Jumbotron
            </a>
            <a href="#list-group" class="p-1 list-group-item list-group-item-action">
              List Group
            </a>
            <a href="#modal" class="p-1 list-group-item list-group-item-action">
              Modal
            </a>
            <a href="#navs" class="p-1 list-group-item list-group-item-action">
              Navs
            </a>
            <a href="#navbar" class="p-1 list-group-item list-group-item-action">
              Navbar
            </a>
            <a href="#pagination" class="p-1 list-group-item list-group-item-action">
              Pagination
            </a>
            <a href="#popovers" class="p-1 list-group-item list-group-item-action">
              Popovers
            </a>
            <a href="#progress" class="p-1 list-group-item list-group-item-action">
              Progress
            </a>
            <a href="#tables" class="p-1 list-group-item list-group-item-action">
              Tables
            </a>
            <a href="#typography" class="p-1 list-group-item list-group-item-action">
              Typography
            </a>
          </ul>
        </div>
      </div>

    </main>
  </body>
</html>

<script>
  $(document).ready(() => {
    $('#edit-link').on('click', (e) => {
      e.preventDefault()
      console.log("Click edit")
      $('#components').hide()
      $('#quick-nav').hide()
      $('#edit-link').hide()
      $('#download-btn').hide()
      $('#editor').show()
      $('#back-link').show()
      $('#update-btn').show()
      $('#editor-textarea').focus()
    })

    $('#back-link').on('click', (e) => {
      e.preventDefault()
      console.log("Click back")
      $('#components').show()
      $('#quick-nav').show()
      $('#edit-link').show()
      $('#download-btn').show()
      $('#editor').hide()
      $('#back-link').hide()
      $('#update-btn').hide()
    })

    $('#download-btn').on('click', (e) => {
      e.preventDefault()
      console.log("Downloading tmp/bootstrap/dist/bootstrap.min.css")
    })

    $('#update-btn').on('click', (e) => {
      e.preventDefault()
      console.log("Updating tmp/bootstrap/dist/scss/_custom.scss")
      console.log("Running npm dist")
      console.log("Showing components")
    })
  })
</script>
