<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="A GUI for building Bootstrap themes.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/assets/jquery.slim.min.js"></script>
    <script src="/assets/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css"/>
  </head>
  <body>
    <main>
      <div class="container my-4">

        <div class="row">
          <div class="col-12">
            <h2 class="text-center">Theme Builder<h2>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <%- include(views + '/components/alerts.html.ejs') %>
            <%- include(views + '/components/badge.html.ejs') %>
            <%- include(views + '/components/breadcrumb.html.ejs') %>
            <%- include(views + '/components/buttons.html.ejs') %>
            <%- include(views + '/components/button_group.html.ejs') %>
            <%- include(views + '/components/card.html.ejs') %>
            <%- include(views + '/components/carousel.html.ejs') %>
            <%- include(views + '/components/collapse.html.ejs') %>
            <%- include(views + '/components/dropdowns.html.ejs') %>
            <%- include(views + '/components/forms.html.ejs') %>
            <%- include(views + '/components/input_group.html.ejs') %>
            <%- include(views + '/components/jumbotron.html.ejs') %>
            <%- include(views + '/components/list_group.html.ejs') %>
            <%- include(views + '/components/modal.html.ejs') %>
            <%- include(views + '/components/navs.html.ejs') %>
            <%- include(views + '/components/navbar.html.ejs') %>
            <%- include(views + '/components/pagination.html.ejs') %>
            <%- include(views + '/components/popovers.html.ejs') %>
            <%- include(views + '/components/progress.html.ejs') %>
            <%- include(views + '/components/tables.html.ejs') %>
            <%- include(views + '/components/typography.html.ejs') %>
          </div>
        </div>

      </div>
    </main>
  </body>
</html>
